.marcador { transition: background-position 3s ease-out; text-decoration: none; background-size: 200% auto; background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #ff0 50%); background-position: -.01% 0 }
.effect { background-position: -99.9% 0; }
.animate { transition-delay: 0s !important; transition-duration: 2.25s !important; }